// Animation classes
.fade-in {
  -webkit-animation: fade-in 0.3s forwards;
          animation: fade-in 0.3s forwards;
}
.fade-out {
  -webkit-animation: fade-out 0.3s ease-in-out forwards;
          animation: fade-out 0.3s ease-in-out forwards;
}

// Animation params

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
    margin-top: -4rem;
  }

  to {
    visibility: visible;
    opacity: 1;
    margin-top: 1.5rem;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
    margin-top: -4rem;
  }

  to {
    visibility: visible;
    opacity: 1;
    margin-top: 1.5rem;
  }
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
    margin-top: 1.5rem;
  }

  to {
    visibility: hidden;
    opacity: 0;
    margin-top: -4rem;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
    margin-top: 1.5rem;
  }

  to {
    visibility: hidden;
    opacity: 0;
    margin-top: -4rem;
  }
}
